{% extends "layoutiframemore.html" %}

{% block heading %}
  <h2 alighn=top >About Shirley Nelson------Page 5</h2><br>
    <a href="{{ url_for('contactmore4') }}">See more...</a>
    <a href="{{ url_for('contactmore2') }}">Go back</a>
                <div class="templatemo_menu">
                    <ul>
                        <li><a href="{{ url_for('contactmoreindex') }}"><h2>Page 1</h2></a></li>
                        <li><a href="{{ url_for('contactmore') }}"><h2>Page 2</h2></a></li>
                        <li><a href="{{ url_for('contactmore1') }}"><h2>Page 3</h2></a></li>
                        <li><a href="{{ url_for('contactmore2') }}"><h2>Page 4</h2></a></li>
                        <li><a href="{{ url_for('contactmore3') }}"><h2>Page 5</h2></a></li>
                        <li><a href="{{ url_for('contactmore4') }}"><h2>Page 6</h2></a></li>
                        <li><a href="{{ url_for('contactmore5') }}"><h2>Page 7</h2></a></li>
                        <li><a href="{{ url_for('contactmore6') }}"><h2>Page 8</h2></a></li>
                        <li><a href="{{ url_for('contactmore7') }}"><h2>Page 9</h2></a></li>
                        <li><a href="{{ url_for('contactmore8') }}"><h2>Page 10</h2></a></li>
                    </ul>
                </div>
{% endblock %}

{% block body %}
        <p>Autonomy and creativity is critical to analysis of the ERP's core business functions as the PeopleSoft system and other types of systems and its development is essential to the organization's long-term economic viability, workforce development, clinical and service excellence. I am perfect for this job.</p>
        <p>Here are my qualifications. Degrees: Bachelors and Associates Degrees in Computer Science means I'm thoroughly trained on process diagrams and controls. Also my many years as a business owner substitutes for a Masters MBA Degree. </p>
    <a href="{{ url_for('contactmoreindex') }}">[First Page]</a>
{% endblock %}
