{% extends "layoutiframemore.html" %}

{% block heading %}
<h2 align=top>About Shirley Nelson------Page 4</h2><br>
    <a href="{{ url_for('contactmore3') }}">See more...</a>
    <a href="{{ url_for('contactmore1') }}">Go back</a>
                <div class="templatemo_menu">
                    <ul>
                        <li><a href="{{ url_for('contactmoreindex') }}"><h2>Page 1</h2></a></li>
                        <li><a href="{{ url_for('contactmore') }}"><h2>Page 2</h2></a></li>
                        <li><a href="{{ url_for('contactmore1') }}"><h2>Page 3</h2></a></li>
                        <li><a href="{{ url_for('contactmore2') }}"><h2>Page 4</h2></a></li>
                        <li><a href="{{ url_for('contactmore3') }}"><h2>Page 5</h2></a></li>
                        <li><a href="{{ url_for('contactmore4') }}"><h2>Page 6</h2></a></li>
                        <li><a href="{{ url_for('contactmore5') }}"><h2>Page 7</h2></a></li>
                        <li><a href="{{ url_for('contactmore6') }}"><h2>Page 8</h2></a></li>
                        <li><a href="{{ url_for('contactmore7') }}"><h2>Page 9</h2></a></li>
                        <li><a href="{{ url_for('contactmore8') }}"><h2>Page 10</h2></a></li>
                    </ul>
                </div>
{% endblock %}

{% block body %}
        <p>Define functional requirements and system interfaces, assess technologies, develop programs, present architecture/software designs in order to implement large projects to improve system efficiency, usability, and effectiveness. Consolidating, merging IT departments experience. Full stack applications development from hardware, database design to software design. I will provide specialized technical and business knowledge to developers, analysts, users, and PeopleSoft process owners.</p>

    <a href="{{ url_for('contactmoreindex') }}">[First Page]</a>
{% endblock %}
