{% extends "layoutiframemore.html" %}

{% block heading %}
  <h2 align=top >About Shirley Nelson------Page 2</h2><br>
    <a href="{{ url_for('contactmore1') }}">See more...</a>
    <a href="{{ url_for('contactmoreindex') }}">Go back</a>
                <div class="templatemo_menu">
                    <ul>
                        <li><a href="{{ url_for('contactmoreindex') }}"><h2>Page 1</h2></a></li>
                        <li><a href="{{ url_for('contactmore') }}"><h2>Page 2</h2></a></li>
                        <li><a href="{{ url_for('contactmore1') }}"><h2>Page 3</h2></a></li>
                        <li><a href="{{ url_for('contactmore2') }}"><h2>Page 4</h2></a></li>
                        <li><a href="{{ url_for('contactmore3') }}"><h2>Page 5</h2></a></li>
                        <li><a href="{{ url_for('contactmore4') }}"><h2>Page 6</h2></a></li>
                        <li><a href="{{ url_for('contactmore5') }}"><h2>Page 7</h2></a></li>
                        <li><a href="{{ url_for('contactmore6') }}"><h2>Page 8</h2></a></li>
                        <li><a href="{{ url_for('contactmore7') }}"><h2>Page 9</h2></a></li>
                        <li><a href="{{ url_for('contactmore8') }}"><h2>Page 10</h2></a></li>
                    </ul>
                </div>
{% endblock %}

{% block body %}
        <p>I have owned three businesses; they each had a separate set of employees thus my Human Resources and payroll experience is relevant as well as my knowledge of running different types of independent companies. I ran 3 small businesses and at the same time I was helping Dade Behring become a $1 Billion dollar company by working in the Global Logistics Department(a 4 person group who coordinated the entire business activities of the merged companies under direct supervision of John Doherty, the vice CEO consolidating merged companies and repairing their inventory problem by figuring out how to solve the issue that was sending them into bankruptcy. Once fixed turning them into a profitable business instead of closing. </p>
    <a href="{{ url_for('contactmoreindex') }}">[First Page]</a>
{% endblock %}
