{% extends "layoutiframemore.html" %}

{% block heading %}
  <h2 align=top>About Shirley Nelson------Page 8</h2><br>
    <a href="{{ url_for('contactmore7') }}">See more...</a>
    <a href="{{ url_for('contactmore5') }}">Go back</a>
                <div class="templatemo_menu">
                    <ul>
                        <li><a href="{{ url_for('contactmoreindex') }}"><h2>Page 1</h2></a></li>
                        <li><a href="{{ url_for('contactmore') }}"><h2>Page 2</h2></a></li>
                        <li><a href="{{ url_for('contactmore1') }}"><h2>Page 3</h2></a></li>
                        <li><a href="{{ url_for('contactmore2') }}"><h2>Page 4</h2></a></li>
                        <li><a href="{{ url_for('contactmore3') }}"><h2>Page 5</h2></a></li>
                        <li><a href="{{ url_for('contactmore4') }}"><h2>Page 6</h2></a></li>
                        <li><a href="{{ url_for('contactmore5') }}"><h2>Page 7</h2></a></li>
                        <li><a href="{{ url_for('contactmore6') }}"><h2>Page 8</h2></a></li>
                        <li><a href="{{ url_for('contactmore7') }}"><h2>Page 9</h2></a></li>
                        <li><a href="{{ url_for('contactmore8') }}"><h2>Page 10</h2></a></li>
                    </ul>
                </div>
{% endblock %}

{% block body %}
        <p>I am very self motivated and multi-task oriented with the ability to learn new concepts exampled on my long list of technologies each with their own set of concepts both new and old job requirements which I can and do acquire quickly.</p>
        <p>Within 1 month of working at Dade Behring I had solved a critical business mission problem; an out of control inventory problem that took Dade International out of bankruptcy and turned them into a cash pile for growth. With each merger taking only a few months to take place, and consolidate I had to be on top of what was happening and coordinate with the new IT departments and quickly assimilate their unique platforms, infrastructure and methods. </p>
    <a href="{{ url_for('contactmoreindex') }}">[First Page]</a>
{% endblock %}
