{% extends "layoutiframemore.html" %}

{% block heading %}
  <h2 align=top>About Shirley Nelson------Page 9</h2><br>
    <a href="{{ url_for('contactmore8') }}">See more...</a>
    <a href="{{ url_for('contactmore6') }}">Go back</a>
                <div class="templatemo_menu">
                    <ul>
                        <li><a href="{{ url_for('contactmoreindex') }}"><h2>Page 1</h2></a></li>
                        <li><a href="{{ url_for('contactmore') }}"><h2>Page 2</h2></a></li>
                        <li><a href="{{ url_for('contactmore1') }}"><h2>Page 3</h2></a></li>
                        <li><a href="{{ url_for('contactmore2') }}"><h2>Page 4</h2></a></li>
                        <li><a href="{{ url_for('contactmore3') }}"><h2>Page 5</h2></a></li>
                        <li><a href="{{ url_for('contactmore4') }}"><h2>Page 6</h2></a></li>
                        <li><a href="{{ url_for('contactmore5') }}"><h2>Page 7</h2></a></li>
                        <li><a href="{{ url_for('contactmore6') }}"><h2>Page 8</h2></a></li>
                        <li><a href="{{ url_for('contactmore7') }}"><h2>Page 9</h2></a></li>
                        <li><a href="{{ url_for('contactmore8') }}"><h2>Page 10</h2></a></li>
                    </ul>
                </div>
{% endblock %}

{% block body %}
        <p>In fact, I know how to take two totally different companies in the same line of business and audit the employee functions to make a map of each company structure that I can then streamline into a cohesive function removing duplicity and reducing cost. The same is true of the IT deparments not just general business departments such as customer service, HR, Inventory Management and accounting. I have the excellent written and verbal communication skills with the ability to convey technical information, decisions and approaches to non-technical audiences.</p>
    <a href="{{ url_for('contactmoreindex') }}">[First Page]</a>
{% endblock %}
