{% extends "layoutiframe.html" %}

{% block heading %}
  Python Page-{{ headline }}
{% endblock %}

{% block body %}
    <div class="innertubeiframe">
    <h1>Welcome to Shirley's Python Information Page</h1>
    <p>
            12973 SW 112th ST<br>
            PMB 123<br>
            Miami, FL 33186 (786) 519-4580  star2jem@gmail.com<br>
    </p>
<p>My next project is to port this to Ruby on Rails which is what GitHub uses as its framework.</p>
    <p>This python web app uses the same MS SQL database as my windows web application at http://star2.abcm.com:880/ which is also up and running. You can view the windows app which is similar by clicking IIs MVC C# Java on the left menu. I also have a PHP Linux Apache MYSQL app which you can view by clicking LAMP AWS Sample on the left menu.</p>
    <p>
     This web site is a port from http://star2.abcm.com:/880/ and came from a completely different environment. This python app is running on linux apache flask django and WSGI.  The similar windows application I created on a windows environment is running on IIS using Razor compiled framework and C#, cshtml, java. Both the linux based application and the windows based application are using MSSql database. Both are changing and viewing the same database from two different platforms, two different systems, two different web application languages.
    </p>
    <p>
     I took the front end from my windows application and recreated the back end using Python Flask Django with the data linked to MSSQL. The java is the same. Of course the front end is no longer anything like the windows front end at this point on the Python Linux backend. The images and classes are almost the same. 
    </p>
    <p>
    Both this python app and the windows app are accessing the same MS SQL Database. However, I could have used Postgres, MYSQL or any other database including Oracle on the back end. </p>

    </div>
{% endblock %}
